.tinyGrid {
  width: 100%;
  height: 200px;
}

.evenTinierGrid {
  width: 100%;
  height: 100px;
}


.ace_editor { height: 450px; }

.editor_error {
  position:absolute;
  background:rgba(241, 9, 9, 0.5);
  z-index:20
}