<br />
<div class="container">

  <div id="job-submit" ng-cloak layout="column" layout-xs="column">

  	<md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>
    <div ui-grid="resGridOptions" ui-grid-selection class="smallGrid"></div>

    <div layout="row" layout-align="center center">
    	<md-button class="md-raised md-primary" ng-href="#!/resource">Add</md-button>
      <md-button class="md-raised md-primary" ng-href="#!/resource?resourcename={{ selectedItem.name }}&duplicate=true" ng-disabled="!selectedItem">Duplicate</md-button>
    	<md-button class="md-raised md-primary" ng-href="#!/resource?resourcename={{ selectedItem.name }}" ng-disabled="!selectedItem">View</md-button>
    	<md-button class="md-raised md-warn" ng-click="deleteSelectedRes($event)" ng-disabled="!selectedItem">Delete</md-button>
    </div>

  </div>
</div>
